release/*.exe
debug/*.exe
src/malibucoind
.*.swp
*.*~*
*.bak
*.bat
*.rej
*.orig
*.a
*.o
*.so
*.patch
*.Debug
*.Release

# Compilation and Qt preprocessor part
*.qm
Makefile
malibucoin-qt
MalibuCoin-Qt.app

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
